body{
margin:0;
font-family:Arial, Helvetica, sans-serif;
background:#0f172a;
color:white;
height:100vh;
display:flex;
flex-direction:column;
}

/* barra superior */

.topbar{
display:flex;
align-items:center;
gap:10px;
padding:10px;
background:#020617;
border-bottom:1px solid #1e293b;
}

/* barra de endereço */

#url{
flex:1;
padding:8px 10px;
font-size:15px;
border-radius:6px;
border:none;
outline:none;
}

/* botões */

button{
padding:8px 12px;
background:#2563eb;
border:none;
color:white;
cursor:pointer;
border-radius:6px;
transition:0.2s;
}

button:hover{
background:#1d4ed8;
}

/* barra de abas */

#tabs{
display:flex;
align-items:center;
background:#111827;
padding:6px;
overflow-x:auto;
}

/* aba */

.tab{
background:#1f2937;
color:white;
padding:6px 10px;
margin-right:6px;
border-radius:6px;
cursor:pointer;
display:flex;
align-items:center;
gap:6px;
font-size:14px;
}

.tab:hover{
background:#374151;
}

/* aba ativa */

.active-tab{
background:#2563eb;
}

/* botão fechar aba */

.close-tab{
color:#ccc;
cursor:pointer;
font-size:14px;
}

.close-tab:hover{
color:white;
}

/* área do navegador */

#browser-container{
flex:1;
width:100%;
height:100%;
position:relative;
}

/* webview */

webview{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
border:none;
}
